REQUIREMENTS
-----------------------------

1.  python interpretor in Windows, terminal will work in Mac & Linux
2.  pickle library
      install pickle using pip
      $ pip install pickle
3.  you must download whole contacts folder & make sure not to change any file, folder or their name
